PORT=8080
CORS_ORIGIN=http://localhost:3000
AUTH_SERVICE_URL=http://auth-service:3001
JOUEUR_SERVICE_URL=http://joueur-service:3002
CLASSEMENT_SERVICE_URL=http://classemants-service:3003
EQUIPE_SERVICE_URL=http://equipes-service:3004
RESERVATION_SERVICE_URL=http://reservation-service:3005
MATCH_SERVICE_URL=http://match-service:3006
